<div class="title_j">Sign up</div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="card-arrange">
      
      <div class="card card_j">
        <div class="card-header card-header_j">아이디 / 비밀번호</div>
        <div class="card-body">
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>

          <div class="field">
            <br>
            <p class="card_caution">!이메일 주소는 아이디로 사용됩니다!</p>
          </div>
        </div>
      </div>

      <div class="card card_j">
        <div class="card-header card-header_j">학회원 정보</div>
        <div class="card-body">
          <div class="field">
            <%= f.label :name, '이름' %><br />
            <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: "ex)이지원" %>
          </div>

          <div class="field">
            <%= f.label :kisu, '기수(숫자만)'%><br />
            <%= f.text_field :kisu, autofocus: true, class: 'form-control', placeholder: "ex)6"%>
          </div>

          <div class="field">
            <%= f.label :studentid, '학번'%><br />
            <%= f.text_field :studentid, autofocus: true, class: 'form-control', placeholder: "ex)2017320214"%>
          </div>

          <div class="field">
            <%= f.label :phonenum, "전공"%><br />
            <%= f.text_field :major,  autofocus: true, class: 'form-control', placeholder: "ex)경영학과"%>
          </div>

          <div class="field">
            <%= f.label :phonenum, "연락처('-' 없이)"%><br />
            <%= f.text_field :phonenum,  autofocus: true, class: 'form-control', placeholder: "ex)01011112222"%>
          </div>

        </div>
      </div>
    </div>
  
    <div class="center_button">
      <div class="actions">
        <%= f.submit "Sign Up", class: 'btn btn-light sub_btn' %>
      </div>
      <% end %>

      <%= render "devise/shared/links" %> 
    </div>  
