<p id="notice"><%= notice %></p>

<h1>Memonlies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Writer</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @memonlies.each do |memonly| %>
      <tr>
        <td><%= memonly.title %></td>
        <td><%= memonly.content %></td>
        <td><%= memonly.writer %></td>
        <td><%= memonly.date %></td>
        <td><%= link_to 'Show', memonly %></td>
        <td><%= link_to 'Edit', edit_memonly_path(memonly) %></td>
        <td><%= link_to 'Destroy', memonly, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Memonly', new_memonly_path %>
