<div class="row">
		<div class="col-md-8 col-center m-auto">
			<div class="title_j">Members Only</div>
</div>
</div>
     
  <!--sidenav-->
  <div class="row content">   
    <div class="col-sm-2 sidenav">
      <p class="board"> Members Only </p>
      <p><a href="/posts">Notice</a></p>
      <p><a href="/login">Board</a></p>
    </div>

    <!--본문-->
    <div class="col-sm-8 text-left"> 
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th class="title">제목</th>
            <th>작성자</th>
            <th>작성일</th>
           
          </tr>
        </thead>

      <tbody>
        <% @memonlies.each do |memonly| %>
        <tr>
        
          <td><%= link_to memonly.title, memonly, class: "titletext" %></td>
          <td><%= memonly.writer %></td>
          <td><%= memonly.date %></td> 
              
          <%#<td><%= link_to '수정', edit_memonly_path(memonly) %>
          <%#<td><%= link_to '삭제', memonly, method: :delete, data: { confirm: '정말 삭제하실래요?' } %>
        </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <%= link_to '새 글쓰기', new_memonly_path %>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
