<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @memonly.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @memonly.content %>
</p>

<p>
  <strong>Writer:</strong>
  <%= @memonly.writer %>
</p>

<p>
  <strong>Date:</strong>
  <%= @memonly.date %>
</p>

<%= link_to 'Edit', edit_memonly_path(@memonly) %> |
<%= link_to 'Back', memonlies_path %>
