<p id="notice"><%= notice %></p>


<!--order 거꾸로-->
<div class="container">
<div class = "gisu-outer-box d-flex flex-column justify-content-center">
  <div class = "row">
    <% @members.each do |member| %>  
      <figure class="snip1283">  
        <div class="card card_m gisu-box mx-2 my-2 d-flex flex-column justify-content-end">
            <div class="temp"><%= image_tag("#{member.image}" , class: 'img-box-m')%></div>
            <%=link_to member do%>
              <figcaption>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="cardborder">
                  <p class="color-text text-right mr-1">
                      <%=member.order+2012%>년 <strong>"<%=member.order%>기"</strong>
                  </p>
                </div>      
              </figcaption>
            <%end%>
        </div>
      </figure>
    <% end %>
  </div>

</div>
<!--관리자에게만 노출-->
<%= link_to 'New Member', new_member_path, class: "text-center" %>
<!---->
</div>

<script>
  $(".hover").mouseleave(
    function () {
      $(".card_m").removeClass("hover");
    }
  );
</script>

<%#= link_to member do %>
        <%#= content_tag
        (:div, content_tag(:p, member.order, class: "text-right mr-1"), class: "card card_m gisu-box mx-2 my-2 d-flex flex-column justify-content-end")%>
      <%# end %>